<div id="wrap">

  <!-- Begin page content -->
  <div class="container">
    <div id="map-canvas" width="100%" height="100%" />
  </div>

</div>

<div id="footer">
  <div class="container">
    <p id="shop-count" class="pull-right"></p>
    <h2>Chicken shops of London</h2>
  </div>
</div>
